<% include header.ejs%>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us <br>
        <small>Thank you for checking us out!</small>
      </h1>
      <p>Walletio is made as a final year BE computer engineering project.
		 Our aim was to explore new blockchain technology & obtain deeper understanding on how it works & how to implement it.</p>
		
		<p> Check out project source code : - <a href="https://github.com/pranavwaikar/cryptocurrency">On Github</a> </p>
		<p> Check out Survey paper : - <a href="http://www.ijirset.com/upload/2018/october/17_A%20Survey.pdf">Here</a> </p>
		<p> Check out partial report : - <a href="https://github.com/pranavwaikar/cryptocurrency">Here</a> </p>
		<p> Check out Result paper : - <a href="">Here</a> </p>
		<p> Check out full report : - <a href="https://github.com/pranavwaikar/cryptocurrency">Here</a> </p>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/dev1.jpg" alt="">
          <h3>Pranav waikar
            <small>Student,SITS,Narhe</small>
          </h3>
          <p>Lead developer and Designer. <br>Follow him <a href="https://github.com/pranavwaikar">On Github.</a></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/dev2.jpeg" alt="">
          <h3>Pratik Deshmukh
            <small>Student,SITS,Narhe</small>
          </h3>
          <p>Problem Definition & Feasibility Study <br>Follow him 
          <a href="https://instagram.com/pdification?utm_source=ig_profile_share&igshid=27ww8cklww36">On instagram.</a></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/dev3.jpeg" alt="">
          <h3>Rohankumar Patel
            <small>Student,SITS,Narhe</small>
          </h3>
          <p>Testing & Analysys. <br>Follow him <a href="https://instagram.com/rohan_663?utm_source=ig_profile_share&igshid=17w2rhbqf7v3e">On instagram.</a></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/dev4.jpeg" alt="">
          <h3>Aditi Kulkarni
            <small>Student,SITS,Narhe</small>
          </h3>
          <p>Litrature survey & Domain study. <br>Follow her 
          <a href="https://instagram.com/_aditikulkarni_?utm_source=ig_profile_share&igshid=p3hdz3t8pyr9">On instagram.</a></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/dev5.jpg" alt="">
          <h3>Prof. Sudam Pawar 
            <small>Professor,SITS,Narhe</small>
          </h3>
          <p>Project guide & Reviewer. <br>Follow him <a href="https://www.facebook.com/sudam.pawar.509">On facebook.</a></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/dev6.jpg" alt="">
          <h3>Prof. Geeta Navle 
            <small>HOD,SITS,Narhe</small>
          </h3>
          <p>Project coordination & guidance. <br>Follow her <a href="https://www.facebook.com/geetanavale1">On facebook.</a></p>
        </div>
      </div>

    </div>


<% include footer.ejs%>
