<% include header.ejs%>


<h2> Change password form </h2>
<% if(errors.success == false) { %>
<div class="alert alert-danger" role="alert">
  Something went wrong!
</div>
<% } %>
<% if(errors.success == true) { %>
<div class="alert alert-success" role="alert">
 Password changed successfully!
</div>
<% } %>
<% if(errors.pwd == true) { %>
<div class="alert alert-danger" role="alert">
  old password is invalid!
</div>
<% } %>
<% if(errors.pwd1 == true) { %>
<div class="alert alert-danger" role="alert">
  Password is invalid!
</div>
<% } %>
<% if(errors.pwd2 == true) { %>
<div class="alert alert-danger" role="alert">
  confirmed Password does not match!
</div>
<% } %>

<form method="post" name="change-password-form" action="/change-password">
  <div class="form-group">
    <label for="password">Enter old Password:</label>
    <input type="password" class="form-control" name="pwd" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <div class="form-group">
    <label for="password">Enter new Password:</label>
    <input type="password" class="form-control" name="pwd1" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <div class="form-group">
    <label for="password">Confirm new  Password:</label>
    <input type="password" class="form-control" name="pwd2" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>

  <button type="submit"  id="submit-login" class="btn btn-primary">Submit</button>
</form>

<% include footer.ejs%>