<% include header.ejs%>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Walletio is an online blockchain based wallet platform. Walletio is wallet for a cryptocurrency 
		& provides a convenient way to access benefits of blockchain based cryptocurrency. </p>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/bchain.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Blockchain Based Wallet</h4>
              <p class="card-text">The blockchain is decentralized distributed ledger which provides excellent security.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/bchain2.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Efficient key management</h4>
              <p class="card-text">Walletio helps you to keep your keys secure & manages them for you. 
			  It also allow you to choose policy according to your own convinience.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/bchain3.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Easy to use</h4>
              <p class="card-text">Walletio offers simple interface to naive users.
			  It hides complexity of cryptocurrency from user. </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/bchain4.png" alt="">
            <div class="card-body">
              <h4 class="card-title">High Availability</h4>
              <p class="card-text">Walletio is based on blockchain which provides very high availabiliy.
			  Walletio has data backups to protect your keys.</p>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>

<% include footer.ejs%>
