<% include header.ejs%>

<% if(Data.success == true) { %>
<div class="alert alert-success" role="alert">
  Key policy is updated! <br>
  Walletio will not save your private-key. Your private-key will be shown to you only once.<br>
  If private-key is lost, then it can never be recovered. You are responsible for your key!
</div>

<h4>Please download or Notedown your key as you will see this for last time.</h4>
<form method="post" name="Auto form" action="/download-key">
  <fieldset disabled="disabled">
    <div class="form-group">
      <label for="text">Private key:</label>
      <input type="text" class="form-control" name="xyz" value="<%=Data.privateKey%>">
    </div>
  </fieldset>
   <input type="hidden" id="privateKey" name="privateKey" value="<%=Data.privateKey%>">
  <button type="submit"  id="submit-transaction" class="btn btn-primary">Download key</button>
</form>

<% } else { %>
<% if(Data.success == false) { %>
<div class="alert alert-danger" role="alert">
  Something is not right!
</div>
<% } %>
<% if(Data.password == false) { %>
<div class="alert alert-danger" role="alert">
  Password does not match! Invalid password! <br>
  Try Again!
</div>
<% } %>
<% if(Data.passphrase == false) { %>
<div class="alert alert-danger" role="alert">
   Invalid passphrase !
</div>
<% } %>

<% if(Data.strategy === 'AUTO') { %>

<div class="alert alert-danger" role="alert">
  You are about to update your key policy!<br>
  Walletio will not save your private-key. Your private-key will be shown to you only once.<br>
  If private-key is lost, then it can never be recovered. You are responsible for your key.
   Please enter password to confirm!
</div>
<form method="post" name="Auto form" action="/make-dontsave">
  <div class="form-group">
    <label for="text">Enter password:</label>
    <input type="password" class="form-control" name="pwd" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <button type="submit"  id="submit-transaction" class="btn btn-primary">Submit</button>
</form>

<% } %>

<% if(Data.strategy === 'RECOVERABLE') { %>

<div class="alert alert-danger" role="alert">
  You are about to update your key policy!<br>
  Walletio will not save your private-key. Your private-key will be shown to you only once.<br>
  If private-key is lost, then it can never be recovered. You are responsible for your key.
   Please enter password to confirm!
</div>
<form method="post" name="Auto form" action="/make-dontsave">
  <div class="form-group">
    <label for="text">Enter password:</label>
    <input type="password" class="form-control" name="pwd" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <div class="form-group">
    <label for="text">Enter pass-phrase:</label>
    <input type="password" class="form-control" name="userKey" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <button type="submit"  id="submit-transaction" class="btn btn-primary">Submit</button>
</form>

<% } %>

<% if(Data.strategy === 'NONRECOVERABLE') { %>

<div class="alert alert-danger" role="alert">
  You are about to update your key policy!<br>
  Walletio will not save your private-key. Your private-key will be shown to you only once.<br>
  If private-key is lost, then it can never be recovered. You are responsible for your key.
   Please enter password to confirm!
</div>
<form method="post" name="Auto form" action="/make-dontsave">
  <div class="form-group">
    <label for="text">Enter password:</label>
    <input type="password" class="form-control" name="pwd" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <div class="form-group">
    <label for="text">Enter pass-phrase:</label>
    <input type="password" class="form-control" name="userKey" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
  </div>
  <button type="submit"  id="submit-transaction" class="btn btn-primary">Submit</button>
</form>

<% } %>


<% if(Data.strategy === 'DONTSAVE') { %>

<div class="alert alert-success" role="alert">
  This is your current key policy! <br>
  Walletio will not save your private-key. Your private-key will be shown to you only once.<br>
  If private-key is lost, then it can never be recovered. You are responsible for your key.
</div>
<% } %>

<% } %>
<% include footer.ejs%>
