<% include header.ejs%>

<form method="post" name="test-form" action="/test">
  <div class="form-group">
    <label for="data">Enter enc data:</label>
    <input type="text" class="form-control" name="encdata">
  </div>
  <div class="form-group">
    <label for="data">Enter key:</label>
    <input type="text" class="form-control" name="key">
  </div>

  <button type="submit"  id="submit-login" class="btn btn-primary">Submit</button>
</form>
<input type="password"
       onmousedown="this.type='text'"
       onmouseup="this.type='password'"
       onmousemove="this.type='password'">
<input type="password" onmouseover ="this.type='text'" onmouseout ="this.type='password'">
<% include footer.ejs%>
